## Libraries

In [1]:
import pandas as pd
from src.feature_engineering import features
import numpy as np
import ast

## Data

In [ ]:
p_geral = pd.read_csv("data/portfolio_geral.csv")
p_comunicados = pd.read_csv("data/portfolio_comunicados.csv")

print(
    "Shape of p_geral: {}. Shape of p_comunicados {}".format(
        p_geral.shape, p_comunicados.shape
    )
)

Vamos agora selecionar apenas os contratos que sofreram alguma comunicação, e assim filtraremos a tabela de `portifolio_geral`.

In [ ]:
unique_contratos = p_comunicados["contrato_id"].unique()
p_geral_comunicados = p_geral[p_geral["contrato_id"].isin(unique_contratos)]

 Como visto no diagrama de relacionamento, na tabela `portfolio_comunicados` um registro único é identificado por três primary keys. Para evitar dados duplicados quando realizarmos um join com a tabela de `portfolio_geral`, vamos agrupar os casos onde houveram os dois tipos da variável `tipo_acao` e os tipos de `status` e os tipos de `acao`.

In [ ]:
p_comunicados_grouped = (
    p_comunicados.groupby(["contrato_id", "dt_ref_portfolio", "data_acao"])[
        ["tipo_acao", "status", "acao"]
    ]
    .agg(list)
    .reset_index()
)

Agora vamos realizar um join entre as duas bases resultado dos tratamentos acima.

In [ ]:
p_geral_comunicados_joined = p_geral_comunicados.merge(
    right=p_comunicados_grouped, how="left", on=["contrato_id", "dt_ref_portfolio"]
)

In [ ]:
# saving
p_geral_comunicados_joined.to_csv("data/portfolio_geral_comunicados.csv", index=False)

In [2]:
geral_and_comunicados_df = pd.read_csv("data/portfolio_geral_comunicados.csv")
geral_and_comunicados_df

,contrato_id,dt_ref_portfolio,safra,nr_documento,status_contrato,dt_contrato,dt_desembolso,dt_vencimento,dt_wo,prazo,...,vlr_pgto_esperado,vlr_saldo_devedor,vlr_saldo_devedor_esperado,dsp,dspp,flag_transacao,data_acao,tipo_acao,status,acao
0,4207c25cdd13aba5a05ae348e889d798,2022-03-01,2021-03,9c1dc4403f8a4833bd58eea3ee85c917,Active,2021-03-01,2021-03-03,2022-06-01,2023-06-01,25.65,...,43.06,9469.47,461.96,20,82,0,NaN,NaN,NaN,NaN
1,7dfdca96b6ff0dd844e5e130aee88b30,2022-03-01,2020-11,3b6951df3075979c99a4dfd9f93efd38,Active,2020-10-31,2020-11-04,2022-01-31,2023-01-31,25.65,...,200.09,57783.55,0.00,134,167,0,NaN,NaN,NaN,NaN
2,a3aecc6b029cc77dd867e0e24e2d616f,2022-03-01,2020-12,9740eda3d6190add5703cd2dd280023c,Active,2020-12-18,2020-12-22,2022-06-18,2023-06-18,30.78,...,89.99,36764.23,2745.73,196,250,0,NaN,NaN,NaN,NaN
3,3db18b4a0e36098c1ef1ee87f1491d84,2022-03-01,2020-07,c2766a0c65d1df592aeb4797efc893e0,Active,2020-07-08,2020-07-10,2021-10-08,2022-10-08,25.65,...,82.61,66762.40,0.00,286,594,0,NaN,NaN,NaN,NaN
4,b4658a6d9785c527297cd14762240f09,2022-03-01,2020-12,d61e4f520ee20e9c693c9c4808d19f55,Active,2020-12-04,2020-12-08,2022-03-04,2023-03-04,25.65,...,131.89,20054.13,0.00,76,76,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6647552,7972c2833e109f498ad29656dcf83c50,2020-11-12,2020-09,ce37f25645e7460fdc44a8f9f6aa46a9,Active,2020-09-29,2020-09-30,2022-03-29,2023-03-29,30.78,...,36.70,10342.73,10669.01,3,6,1,NaN,NaN,NaN,NaN
6647553,b532ce3583bf083b58dcbb3156e9a6fb,2020-10-04,2020-09,66a443539af19dc890cafbebe0e1de8e,Active,2020-09-25,2020-09-29,2021-12-25,2022-12-25,25.65,...,35.41,11201.47,11229.76,2,2,0,NaN,NaN,NaN,NaN
6647554,c5cce1cc49025572c7378279c1469923,2020-10-04,2020-05,f9d63ef575f20c5698146e2c796eedcd,Settled,2020-05-26,2020-05-29,2021-08-26,2022-08-26,25.65,...,9.91,0.02,2756.18,0,0,0,NaN,NaN,NaN,NaN
6647555,67348b340a082aa77a67b7431cc91145,2020-10-31,2020-06,28283b4f3cc1654a879b64251f98164b,Active,2020-06-17,2020-06-23,2021-09-17,2022-09-17,25.65,...,5.64,2064.82,1342.64,122,122,0,NaN,NaN,NaN,NaN
6647556,e4753f517397dec57e638d49b982fc96,2020-10-17,2020-03,6cc7b4e91e82d38b829248fabda7f305,Settled,2020-03-03,2020-03-04,2021-03-03,2022-03-03,20.52,...,34.75,0.29,4042.83,0,0,1,NaN,NaN,NaN,NaN

In [3]:
# datatypes
geral_and_comunicados_df.dtypes

contrato_id                    object
dt_ref_portfolio               object
safra                          object
nr_documento                   object
status_contrato                object
dt_contrato                    object
dt_desembolso                  object
dt_vencimento                  object
dt_wo                          object
prazo                         float64
vlr_desembolsado              float64
vlr_tarifa                    float64
juros_mes                     float64
juros_diario                  float64
perc_retencao                 float64
vlr_pgto_realizado            float64
vlr_pgto_esperado             float64
vlr_saldo_devedor             float64
vlr_saldo_devedor_esperado    float64
dsp                             int64
dspp                            int64
flag_transacao                  int64
data_acao                      object
tipo_acao                      object
status                         object
acao                           object
dtype: object

## Análise

Aqui iremos primeiramente criar um target que descreverar quando que cada comunicado foi efetivo, ou não, na conversão de um inadiplente para alguém que retornou a realizar pagamentos.

A ideia é que para cada contrato, seja possível sumerizar métricas de sucesso ou não de todas as comunicações efetuadas. Como a intenção é que o cliente volte a realizar pagamentos a partir de ter recebido/lido uma notificação, iremos buscar então, os momentos em que o dsp e o dspp zeram, considerando todo o histórico de cada contrato individualmente.

Abaixo veremos a criação dessa feature.

In [4]:
geral_and_comunicados_sorted_df = geral_and_comunicados_df.sort_values(
    ["contrato_id", "dt_ref_portfolio"]
)

In [5]:
contrato_dsp_features = (
    geral_and_comunicados_sorted_df.groupby(["contrato_id"])["dsp"]
    .agg(
        [
            features.total_success_dsp5,
            features.total_success_dsp10,
            features.total_success_dsp15,
            features.total_success_dsp30,
            features.total_success_dsp60,
            features.total_success_dsp90,
            features.prop_success_dsp5,
            features.prop_success_dsp10,
            features.prop_success_dsp15,
            features.prop_success_dsp30,
            features.prop_success_dsp60,
            features.prop_success_dsp90,
        ]
    )
    .reset_index()
)

In [6]:
contrato_dspp_features = (
    geral_and_comunicados_sorted_df.groupby(["contrato_id"])["dspp"]
    .agg(
        [
            features.total_success_dspp15,
            features.total_success_dspp30,
            features.total_success_dspp45,
            features.prop_success_dspp15,
            features.prop_success_dspp30,
            features.prop_success_dspp45,
        ]
    )
    .reset_index()
)

In [7]:
contrato_dsp_dspp = contrato_dsp_features.merge(
    right=contrato_dspp_features, on="contrato_id", how="inner"
)

In [8]:
contrato_dsp_dspp

,contrato_id,total_success_dsp5,total_success_dsp10,total_success_dsp15,total_success_dsp30,total_success_dsp60,total_success_dsp90,prop_success_dsp5,prop_success_dsp10,prop_success_dsp15,prop_success_dsp30,prop_success_dsp60,prop_success_dsp90,total_success_dspp15,total_success_dspp30,total_success_dspp45,prop_success_dspp15,prop_success_dspp30,prop_success_dspp45
0,000180509391a5ac66ff83cae603ffb8,1,1,0,0,0,0,0.000000,1.000000,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
1,000c35a61297edadc2842f6d5b4028e1,4,1,1,1,1,1,0.750000,0.000000,0.000000,0.0,0.0,1.0,1,1,1,0.000000,0.0,0.00
2,000dcdc93a545ee45a1aee85ef85c34a,11,7,6,2,1,1,0.363636,0.285714,0.666667,0.5,0.0,1.0,5,1,1,0.800000,0.0,0.00
3,0014cccd47b66a47af4e62c4dcbe95f1,3,1,1,1,0,0,0.666667,0.000000,0.000000,0.0,NaN,NaN,3,2,0,0.333333,0.5,NaN
4,001621e2d725ab3d3773692745be79b2,5,1,0,0,0,0,0.800000,1.000000,NaN,NaN,NaN,NaN,3,0,0,1.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12197,fff4bf15d5b48a5c1bda798ea77290d1,1,0,0,0,0,0,1.000000,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
12198,fff6edc99168d63a10ea51a7f808ff38,3,1,0,0,0,0,0.666667,1.000000,NaN,NaN,NaN,NaN,0,0,0,NaN,NaN,NaN
12199,fffb0d6ec51d163ca8c69900f748d61b,5,3,2,0,0,0,0.200000,0.333333,1.000000,NaN,NaN,NaN,4,4,4,0.000000,0.0,0.75
12200,fffb47b9ce3835c85513ef5b19165f6e,1,1,1,1,0,0,0.000000,0.000000,0.000000,1.0,NaN,NaN,0,0,0,NaN,NaN,NaN
12201,fffc9af28349e8ded3af8e2dcbf9c3bc,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1.000000,NaN,NaN

In [9]:
means_dsp = []
means_dspp = []
for i, row in contrato_dsp_dspp.iterrows():
    means_dsp.append(np.nanmean(row[7:13]))
    means_dspp.append(np.nanmean(row[16:19]))

contrato_dsp_dspp["score_dsp"] = means_dsp
contrato_dsp_dspp["score_dspp"] = means_dspp

/tmp/ipykernel_1295726/2624332410.py:5: RuntimeWarning: Mean of empty slice
  means_dspp.append(np.nanmean(row[16:19]))
/tmp/ipykernel_1295726/2624332410.py:4: RuntimeWarning: Mean of empty slice
  means_dsp.append(np.nanmean(row[7:13]))

In [10]:
contrato_dsp_dspp

,contrato_id,total_success_dsp5,total_success_dsp10,total_success_dsp15,total_success_dsp30,total_success_dsp60,total_success_dsp90,prop_success_dsp5,prop_success_dsp10,prop_success_dsp15,...,prop_success_dsp60,prop_success_dsp90,total_success_dspp15,total_success_dspp30,total_success_dspp45,prop_success_dspp15,prop_success_dspp30,prop_success_dspp45,score_dsp,score_dspp
0,000180509391a5ac66ff83cae603ffb8,1,1,0,0,0,0,0.000000,1.000000,NaN,...,NaN,NaN,0,0,0,NaN,NaN,NaN,0.500000,NaN
1,000c35a61297edadc2842f6d5b4028e1,4,1,1,1,1,1,0.750000,0.000000,0.000000,...,0.0,1.0,1,1,1,0.000000,0.0,0.00,0.291667,0.000000
2,000dcdc93a545ee45a1aee85ef85c34a,11,7,6,2,1,1,0.363636,0.285714,0.666667,...,0.0,1.0,5,1,1,0.800000,0.0,0.00,0.469336,0.266667
3,0014cccd47b66a47af4e62c4dcbe95f1,3,1,1,1,0,0,0.666667,0.000000,0.000000,...,NaN,NaN,3,2,0,0.333333,0.5,NaN,0.166667,0.416667
4,001621e2d725ab3d3773692745be79b2,5,1,0,0,0,0,0.800000,1.000000,NaN,...,NaN,NaN,3,0,0,1.000000,NaN,NaN,0.900000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12197,fff4bf15d5b48a5c1bda798ea77290d1,1,0,0,0,0,0,1.000000,NaN,NaN,...,NaN,NaN,0,0,0,NaN,NaN,NaN,1.000000,NaN
12198,fff6edc99168d63a10ea51a7f808ff38,3,1,0,0,0,0,0.666667,1.000000,NaN,...,NaN,NaN,0,0,0,NaN,NaN,NaN,0.833333,NaN
12199,fffb0d6ec51d163ca8c69900f748d61b,5,3,2,0,0,0,0.200000,0.333333,1.000000,...,NaN,NaN,4,4,4,0.000000,0.0,0.75,0.511111,0.250000
12200,fffb47b9ce3835c85513ef5b19165f6e,1,1,1,1,0,0,0.000000,0.000000,0.000000,...,NaN,NaN,0,0,0,NaN,NaN,NaN,0.250000,NaN
12201,fffc9af28349e8ded3af8e2dcbf9c3bc,0,0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,1,0,0,1.000000,NaN,NaN,NaN,1.000000

In [11]:
geral_and_comunicados_sorted_df.value_counts("status")

status
['NAO ENTREGUE', 'NAO ENTREGUE']                      40256
['NAO ENTREGUE', 'ENTREGUE']                          28994
['ENTREGUE', 'NAO ENTREGUE']                          28855
['ENTREGUE', 'ENTREGUE']                              20932
['LIDO', 'NAO ENTREGUE']                              14999
                                                      ...
['NAO ENTREGUE', 'RESPONDIDO', 'ENTREGUE', 'LIDO']        1
['RESPONDIDO', 'LIDO', 'ENTREGUE', 'ENTREGUE']            1
['ENTREGUE', 'RESPONDIDO', 'LIDO', 'ENTREGUE']            1
['RESPONDIDO', 'ENTREGUE', 'LIDO', 'LIDO']                1
['NAO ENTREGUE', 'RESPONDIDO', 'LIDO', 'ENTREGUE']        1
Length: 194, dtype: int64

In [12]:
statuses = ["NAO ENTREGUE", "ENTREGUE", "LIDO"]


def get_entregue(data: pd.Series):
    entregue = []

    for item in data.values:
        if isinstance(item, str):
            item = ast.literal_eval(item)
            # not considering first length 4 item lists
            if len(item) <= 2:
                for i in item:
                    if i == "ENTREGUE":
                        entregue.append(True)
                    else:
                        entregue.append(False)
            elif len(item) > 2:
                for i in item[0:2]:
                    if i == "ENTREGUE":
                        entregue.append(True)
                    else:
                        entregue.append(False)
    return sum(entregue)


result = (
    geral_and_comunicados_sorted_df.groupby(["contrato_id"])["status"]
    .agg([features.get_entregue, features.get_lido, features.get_nao_entregue])
    .reset_index()
)

In [15]:
contrato_dsp_dspp_qtd_acoes = contrato_dsp_dspp.merge(
    right=result, how="inner", on="contrato_id"
)

In [19]:
# features de vlr_saldo_devedor
vlr_saldo_devedor_inicial = geral_and_comunicados_sorted_df.drop_duplicates(
    ["contrato_id"]
)[["contrato_id", "vlr_saldo_devedor_esperado"]]
c_dsp_dspp_qtd_acoes_devedor = contrato_dsp_dspp_qtd_acoes.merge(
    right=vlr_saldo_devedor_inicial, how="inner", on="contrato_id"
)

In [20]:
c_dsp_dspp_qtd_acoes_devedor

,contrato_id,total_success_dsp5,total_success_dsp10,total_success_dsp15,total_success_dsp30,total_success_dsp60,total_success_dsp90,prop_success_dsp5,prop_success_dsp10,prop_success_dsp15,...,total_success_dspp45,prop_success_dspp15,prop_success_dspp30,prop_success_dspp45,score_dsp,score_dspp,get_entregue,get_lido,get_nao_entregue,vlr_saldo_devedor_esperado
0,000180509391a5ac66ff83cae603ffb8,1,1,0,0,0,0,0.000000,1.000000,NaN,...,0,NaN,NaN,NaN,0.500000,NaN,2,1,1,6924.81
1,000c35a61297edadc2842f6d5b4028e1,4,1,1,1,1,1,0.750000,0.000000,0.000000,...,1,0.000000,0.0,0.00,0.291667,0.000000,16,3,5,33986.65
2,000dcdc93a545ee45a1aee85ef85c34a,11,7,6,2,1,1,0.363636,0.285714,0.666667,...,1,0.800000,0.0,0.00,0.469336,0.266667,22,13,35,1861.91
3,0014cccd47b66a47af4e62c4dcbe95f1,3,1,1,1,0,0,0.666667,0.000000,0.000000,...,0,0.333333,0.5,NaN,0.166667,0.416667,6,2,14,16623.37
4,001621e2d725ab3d3773692745be79b2,5,1,0,0,0,0,0.800000,1.000000,NaN,...,0,1.000000,NaN,NaN,0.900000,1.000000,5,3,10,23412.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12197,fff4bf15d5b48a5c1bda798ea77290d1,1,0,0,0,0,0,1.000000,NaN,NaN,...,0,NaN,NaN,NaN,1.000000,NaN,1,0,1,2271.43
12198,fff6edc99168d63a10ea51a7f808ff38,3,1,0,0,0,0,0.666667,1.000000,NaN,...,0,NaN,NaN,NaN,0.833333,NaN,3,2,3,6808.42
12199,fffb0d6ec51d163ca8c69900f748d61b,5,3,2,0,0,0,0.200000,0.333333,1.000000,...,4,0.000000,0.0,0.75,0.511111,0.250000,18,10,16,136579.63
12200,fffb47b9ce3835c85513ef5b19165f6e,1,1,1,1,0,0,0.000000,0.000000,0.000000,...,0,NaN,NaN,NaN,0.250000,NaN,2,3,3,38500.32
12201,fffc9af28349e8ded3af8e2dcbf9c3bc,0,0,0,0,0,0,NaN,NaN,NaN,...,0,1.000000,NaN,NaN,NaN,1.000000,1,0,1,32874.80

In [22]:
clientes = pd.read_csv("data/portfolio_clientes.csv")
clientes

,nr_documento,tipo_empresa,cidade,estado,subsegmento,segmento
0,094aaed740bbd7fcddb6c678c18d883a,PJ,Caucaia,CE,Alimentação Rápida,Alimentação
1,eaade7915611fcdcbba747e3a83365c6,PF,Cidade Ocidental,GO,Lojas Diversas,Varejo
2,1f21958fd296f1b04a1f0c2658913856,MEI,Manaus,AM,Alimentação Rápida,Alimentação
3,fcdfe15db4520db1a1fe8b6a72878655,MEI,São Bernardo do Campo,SP,Alimentação Rápida,Alimentação
4,ba57e8837452b5e0114d7e273de039b4,PJ,Foz do Iguaçu,PR,Lojas Diversas,Supermercado/Farmácia
...,...,...,...,...,...,...
14400,bfed2a37a79957ea53cf1b70d467e4f1,PJ,Bage,RS,Outros,Serviços
14401,fbcba6437b248dfce69ac494b4c266f1,MEI,Osasco,SP,Automotivo,Bens duráveis
14402,29b16c64a0d582d0162c8346bcbab1b0,PJ,São Carlos,SP,Alimentação Rápida,Alimentação
14403,2ba5b641cad668157ede5a32fe1f3b00,MEI,Imbituba,SC,Educação,Serviços recorrentes
14404,a00dd98d3d874de9d73e154aa02d5ca0,PF,Barra dos Coqueiros,SE,Lojas Diversas,Bens duráveis

In [27]:
x_contrato_id_nr_documento = geral_and_comunicados_sorted_df.drop_duplicates(
    ["contrato_id", "nr_documento"]
)[["contrato_id", "nr_documento"]]

In [29]:
c_dsp_dspp_qtd_acoes_devedor_w_doc = c_dsp_dspp_qtd_acoes_devedor.merge(
    right=x_contrato_id_nr_documento, how="inner", on="contrato_id"
)

In [40]:
clientes.shape

(14405, 6)

In [41]:
# clientes_unique
clientes_unique_nr_doc = (
    clientes.groupby("nr_documento")[
        ["tipo_empresa", "cidade", "estado", "subsegmento", "segmento"]
    ]
    .agg(lambda x: list(x) if len(x) > 1 else x)
    .reset_index()
)

In [55]:
another_one = c_dsp_dspp_qtd_acoes_devedor_w_doc.merge(
    right=clientes_unique_nr_doc, on="nr_documento", how="inner"
)

In [43]:
# por fim vamos trazer o valor do tpv
tpv = pd.read_csv("data/portfolio_tpv.csv")
tpv

,nr_documento,dt_transacao,qtd_transacoes,vlr_tpv
0,7f0464355620bc7c137b3546eb90867a,20210505,4,116.5
1,7f0464355620bc7c137b3546eb90867a,20210506,20,537.0
2,7f0464355620bc7c137b3546eb90867a,20210507,17,440.0
3,7f0464355620bc7c137b3546eb90867a,20210508,29,1328.0
4,7f0464355620bc7c137b3546eb90867a,20210509,35,969.5
...,...,...,...,...
4408592,1addbacfc5ca5fa417aef899d2cd849d,20210325,2,200.0
4408593,1addbacfc5ca5fa417aef899d2cd849d,20210327,2,200.0
4408594,1addbacfc5ca5fa417aef899d2cd849d,20210329,2,480.0
4408595,1addbacfc5ca5fa417aef899d2cd849d,20210330,1,80.0
4408596,1addbacfc5ca5fa417aef899d2cd849d,20210409,1,190.0

In [54]:
qtd_trans_tpv = tpv.groupby("nr_documento")[["qtd_transacoes", "vlr_tpv"]].agg(
    ["mean", "min", "max", np.median, "sum"]
)

In [60]:
qtd_trans_tpv.shape

(14259, 10)

In [61]:
another_one.shape

(12202, 31)

In [64]:
final_df = another_one.merge(right=qtd_trans_tpv, how="left", on="nr_documento")

/tmp/ipykernel_1295726/307445592.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  final_df = another_one.merge(

In [65]:
final_df

,contrato_id,total_success_dsp5,total_success_dsp10,total_success_dsp15,total_success_dsp30,total_success_dsp60,total_success_dsp90,prop_success_dsp5,prop_success_dsp10,prop_success_dsp15,...,"(qtd_transacoes, mean)","(qtd_transacoes, min)","(qtd_transacoes, max)","(qtd_transacoes, median)","(qtd_transacoes, sum)","(vlr_tpv, mean)","(vlr_tpv, min)","(vlr_tpv, max)","(vlr_tpv, median)","(vlr_tpv, sum)"
0,000180509391a5ac66ff83cae603ffb8,1,1,0,0,0,0,0.000000,1.000000,NaN,...,12.357995,1.0,42.0,10.0,5178.0,443.126253,6.00,1426.50,340.00,185669.90
1,000c35a61297edadc2842f6d5b4028e1,4,1,1,1,1,1,0.750000,0.000000,0.000000,...,15.026616,1.0,66.0,11.0,3952.0,580.125856,3.50,14033.50,400.50,152573.10
2,bcd244d93204f40ca32f55fa2b06ca1f,2,2,2,2,2,2,0.000000,0.000000,0.000000,...,15.026616,1.0,66.0,11.0,3952.0,580.125856,3.50,14033.50,400.50,152573.10
3,000dcdc93a545ee45a1aee85ef85c34a,11,7,6,2,1,1,0.363636,0.285714,0.666667,...,1.500000,1.0,5.0,1.0,45.0,2538.660000,1.00,23000.00,1550.00,76159.80
4,0014cccd47b66a47af4e62c4dcbe95f1,3,1,1,1,0,0,0.666667,0.000000,0.000000,...,5.033784,1.0,13.0,5.0,2235.0,196.886892,2.00,652.90,173.90,87417.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12197,fff4bf15d5b48a5c1bda798ea77290d1,1,0,0,0,0,0,1.000000,NaN,NaN,...,1.556213,1.0,5.0,1.0,263.0,550.142012,5.00,10055.00,148.00,92974.00
12198,fff6edc99168d63a10ea51a7f808ff38,3,1,0,0,0,0,0.666667,1.000000,NaN,...,1.991489,1.0,7.0,2.0,468.0,947.456596,2.00,6198.00,592.00,222652.30
12199,fffb0d6ec51d163ca8c69900f748d61b,5,3,2,0,0,0,0.200000,0.333333,1.000000,...,46.116992,2.0,199.0,43.0,16556.0,1870.555153,57.60,12323.61,1635.85,671529.30
12200,fffb47b9ce3835c85513ef5b19165f6e,1,1,1,1,0,0,0.000000,0.000000,0.000000,...,45.919118,8.0,287.0,39.0,24980.0,1765.287188,163.00,18548.58,1235.83,960316.23
12201,fffc9af28349e8ded3af8e2dcbf9c3bc,0,0,0,0,0,0,NaN,NaN,NaN,...,4.241463,1.0,16.0,4.0,1739.0,735.773024,0.01,4375.00,539.00,301666.94