In [1]:
from src.clustering_pipeline.clustering import Clustering

In [2]:
clustering_experimentation = Clustering(target="dsp")
clustering_experimentation.remove_unused_categories()
clustering_experimentation.frequency_encoding("cidade_new")
preds = clustering_experimentation.create_pipeline()

For n cluster: 2. The avg silhouette_score is 0.22087392182417448
For n cluster: 3. The avg silhouette_score is 0.2422933874364572
For n cluster: 4. The avg silhouette_score is 0.18450846243155028
For n cluster: 5. The avg silhouette_score is 0.18494802642790062
For n cluster: 6. The avg silhouette_score is 0.19105402232851604
For n cluster: 7. The avg silhouette_score is 0.1820687130297712
For n cluster: 8. The avg silhouette_score is 0.17697826695304203
For n cluster: 9. The avg silhouette_score is 0.17669951466965114
For n cluster: 10. The avg silhouette_score is 0.1628522232667098

In [5]:
preds.shape

(11308,)

In [3]:
df = clustering_experimentation.preprop_df

In [4]:
cat_columns = df.select_dtypes(include=object).columns
for categorical_feature in cat_columns:
    print(
        categorical_feature,
        df[categorical_feature].value_counts().reset_index().shape[0],
    )

tipo_empresa_new 3
estado_new 28
subsegmento_new 16
segmento_new 9

In [5]:
df.isnull().sum()

total_success_dsp5              0
total_success_dsp10             0
total_success_dsp15             0
total_success_dsp30             0
total_success_dsp60             0
total_success_dsp90             0
score_dsp                       0
get_entregue                    0
get_lido                        0
get_nao_entregue                0
vlr_saldo_devedor_esperado      0
('qtd_transacoes', 'mean')      0
('qtd_transacoes', 'min')       0
('qtd_transacoes', 'max')       0
('qtd_transacoes', 'median')    0
('qtd_transacoes', 'sum')       0
('vlr_tpv', 'mean')             0
('vlr_tpv', 'min')              0
('vlr_tpv', 'max')              0
('vlr_tpv', 'median')           0
('vlr_tpv', 'sum')              0
tipo_empresa_new                0
estado_new                      0
subsegmento_new                 0
segmento_new                    0
cidade_new_enc                  0
dtype: int64

In [7]:
df

,total_success_dsp5,total_success_dsp10,total_success_dsp15,total_success_dsp30,total_success_dsp60,total_success_dsp90,score_dsp,get_entregue,get_lido,get_nao_entregue,...,"('vlr_tpv', 'mean')","('vlr_tpv', 'min')","('vlr_tpv', 'max')","('vlr_tpv', 'median')","('vlr_tpv', 'sum')",tipo_empresa_new,estado_new,subsegmento_new,segmento_new,cidade_new_enc
0,1,1,0,0,0,0,0.500000,2,1,1,...,443.126253,6.0,1426.50,340.00,185669.90,MEI,MT,Alimentação Rápida,Alimentação,0.005129
1,4,1,1,1,1,1,0.291667,16,3,5,...,580.125856,3.5,14033.50,400.50,152573.10,PF,SP,Lojas Diversas,Varejo,0.073222
2,2,2,2,2,2,2,0.083333,7,10,13,...,580.125856,3.5,14033.50,400.50,152573.10,PF,SP,Lojas Diversas,Varejo,0.073222
3,11,7,6,2,1,1,0.469336,22,13,35,...,2538.660000,1.0,23000.00,1550.00,76159.80,PF,BA,Material de Construção,Bens duráveis,0.000973
4,3,1,1,1,0,0,0.166667,6,2,14,...,196.886892,2.0,652.90,173.90,87417.78,PF,ES,Lojas Diversas,Varejo,0.005129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12196,6,1,1,1,0,0,0.458333,11,8,9,...,1065.138392,6.5,3773.57,942.49,576239.87,PJ,CE,Alimentação Rápida,Alimentação,0.000442
12197,1,0,0,0,0,0,1.000000,1,0,1,...,550.142012,5.0,10055.00,148.00,92974.00,MEI,BA,Lojas Diversas,Bens duráveis,0.000707
12198,3,1,0,0,0,0,0.833333,3,2,3,...,947.456596,2.0,6198.00,592.00,222652.30,MEI,RS,Automotivo,Serviços,0.001415
12199,5,3,2,0,0,0,0.511111,18,10,16,...,1870.555153,57.6,12323.61,1635.85,671529.30,PJ,SP,Alimentação Rápida,Alimentação,0.073222
12200,1,1,1,1,0,0,0.250000,2,3,3,...,1765.287188,163.0,18548.58,1235.83,960316.23,PJ,SP,Supermercados,Alimentação,0.002653